* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --margin: 15px;
    --brand_color: #099d8d;
    --brandsecundario_color: #14d9c4;
    --negro: black;
    --light-grey-blue: rgba(184, 184, 185, 0.1);
    --blanco: #fff;
    --cool-grey: rgba(184, 184, 185, 0.2);
    --negro-8: rgba(0, 0, 0, 0.08);
    --gunmental: #54585a;
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

/* HEADER*/
.header {
    background-color: var(--brand_color);  
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    opacity: .9;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

} 

.titulo {
    color: var(--blanco);
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navegacion {
    background-color: var(--brandsecundario_color);
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 7px;
}

.lista_superior {
    list-style: none;
    color: var(--blanco);
    display: flex;
    justify-content: space-around;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
}
.lista_superior a {
    text-decoration: none;
    color: var(--blanco);
}
/*HEADER TABLET*/ 
@media screen and (min-width : 768px){
    .header {
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
    }
    .titulo {

        margin-left: 45px;
    }
    .navegacion {
        background: none;

    }
    .lista_superior {
        gap: 10px;
        margin-right: 45px;
    }
}

/*HERO*/

.hero{
    width: 100%;
    position: relative;
    display: inline;
    text-align: center;
   }

.hero-content{
    width: 100%;
    height: 90vh;
    background-image: url(../imagenes/titanic.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
    

.Lorem-ipsum {
    width: 290px;
    height: 80px;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: var(--negro);
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
    z-index: 1;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--margin);
    


}


/*seccion 2*/

.inicio {
    background-color: var(--blanco);
    justify-content: space-between;     
}

.titulo_inicio {
    color: var(--brand_color);
    text-align: center;
    margin: var(--margin);
    font-family: var(--primary-font);
    font-size: 2.4rem;
    line-height: 1.8;
    padding-top: 60px;
    
    
}
.inicio_texto {  
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--gunmental);
    margin: var(--margin);
    font-size: 1.6rem;
    font-style: normal;
    padding-bottom: 15px;
    
       
}

.texto_equipo {
    padding-bottom: 10px;
    line-height: 1.5;
}

/* SECTION 3: Fortalezas Debilidades*/

.fort-deb {
    /*display: flex;*/
    flex-flow: column wrap; /* Para tablet será row wrap */
    align-items: center;
    background-color: var(--cool-grey);
    text-align: center;
}

.fort-deb__triangle {
    width: 30px;
    height: 30px;
    background-color: var(--blanco);
    transform: translateY(-15px) rotate(45deg);
    margin: auto;
}

.fortalezas, .debilidades {
    margin-top: 0px;
    margin-left: var(--margin);
    margin-right: var(--margin);
}


.debilidades {
    margin-bottom: 45px;
}

.fortalezas__title,
.debilidades__title {
    font-size: 2.2rem;
    font-family: var(--primary-font);
    color: var(--brand_color);
    font-weight: 500;
    line-height: 2.05;
}

.fortalezas__content,
.debilidades__content {
    font-size: 1.6rem;
    font-family: var(--secondary-font);
    color: var(--gunmental);
    line-height: 1.5;
}

/* SECTION 4: Quienes somos */

.about-us {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: var(--margin);
    padding-right: var(--margin);
}

.about-us--title {
    
    color: var(--brand_color);
    font-size: 2.4rem;
    line-height: 4.5rem;
    font-family: var(--primary-font);
    text-align: center;    
    margin-bottom: 30px;

}

.about-us--article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us--article img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 5px solid var(--negro-8);

}

.about-us--info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us--name {
    margin-top: 15px;
    color: var(--negro);
    font-size: 2.0rem;
    line-height: 4.5rem;
    font-family: var(--secondary-font);
    text-align: center;
}

.about-us--description {
    width: 290px;
    height: 200px; 
    font-family: var(--secondary-font);
    color:var(--gunmental);
    line-height: 2.4rem;
    font-size: 1.6rem;
    text-align: center;
}

.about-us--rrss {
    width: 124px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 45px;
}


/* TABLET */
@media screen and (min-width: 768px) {

    .about-us--article {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 67px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .about-us--info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 205px;
        height: 205px;
        margin-left: 31px;
    }

    .about-us--description {
        text-align: left;
        width: 443px;
        height: 122px;
    }

    .about-us--article img {
        width: 205px;
        height: 205px;
        border-radius: 10px;
        border: 5px solid var(--negro-8);

    }

    .about-us__right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;


    }

    .about-us__article--info {
        margin-right: 281px;
        display: flex;
        flex-direction: c;
    }

}


*/seccion2 inicio*/ .inicio {
    background-color: var(--blanco);
    width: 320px;
    height: 504px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
}

.titulo-inicio {
    color: var(--brandsecundario_color);
    text-align: center;
    margin: 10px;
    margin: 15px 0 0;
    line-height: 1.5;
}

.inicio-texto {
    text-align: center;
}

/*FOOTER*/
.footer {
    width: 100%;
    background-color: #fff;
    border: 1px solid;
    border-color: var(--cool-grey);
    position: absolute;
    bottom: -50px;
}

.nombre_grupo {
    color: #b8b8b9;
    font-size: 15px;
    margin: 30px 74px;
    font-weight: 500;
    font-family: var(--secondary-font);
}

.lista_inferior {
    color: var(--gunmental);
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-family: var(--primary-font);
}

li {
    margin-bottom: 4px;
}

.image_logo {
    height: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 45px;
}

/* TABLET */
@media screen and (min-width : 768px) {
    .about-us--article {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 67px;
    }

    .about-us--info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 205px;
        height: 205px;
        margin-left: 31px;
    }

    .about-us--description {
        text-align: left;
        width: 443px;
        height: 122px;
    }

    .about-us--article img {
        width: 205px;
        height: 205px;
        border-radius: 10px;
        border: 5px solid var(--negro-8);

    }

    .about-us__right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;


    }

    .about-us__article--info {
        margin-right: 281px;
        display: flex;
        flex-direction: c;
    }

/* align-items: flex-start;
    margin-left: 31px;
} */

.about-us--description {
    text-align: left;
}

.about-us--article img{
    width: 205px;
    height:205px ;
    border-radius:10px;
    border: 5px solid var(--negro-8) ;
}
.about-us__right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
} 
.about-us__right--info{
    align-items: flex-end;
    margin-right: 31px;
}
.about-us__right--description{
    text-align: right;
}
/*inicio*/
.titulo_inicio{
    margin-top: 45px;
    padding-top: 0;
}
.inicio_texto{
    margin-left: 45px;
    margin-right: 45px;
}
}

/*DESKTOP*/
@media screen and (min-width : 1200px) {
.about-us--article{
    margin-left: 138px;
    margin-right: 138px;
}
.about-us--article img{
    width: 278px;
    height:278px ;
}
.inicio_texto{
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 60px;
}
}
/*FOOTER tablet*/
@media screen and (min-width : 768px) {
    footer {
        height: 170px;
    }
    .nombre_grupo {
        margin-bottom: 120px;

    }
    .lista_inferior {
        text-align:end;
        margin-right: 70px;
        margin-left: 400px;
        padding: 0;
        list-style: none;
    }
    .image_logo {
        display: flex;
        align-self: flex-start;

    }
}


