img {
    width: 100%;
}
/*estilos contacto*/
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        color: $color-blue-green;
        font-family: $primary-font;
        text-align: center;
        margin: 30px;
        font-size: 3rem;  
        line-height: 1.5rem;
        font-weight: medium;
    }
    &__text {
        font-family: $secondary-font;
        color: $gunmental;
        text-align: center;
        margin: $margin;
        font-size: 1.6rem;
        font-style: normal;
        padding-bottom: 15px; 
    }
    &__small {
        text-align: center;
        font-family: $secondary-font;
        font-size: 1rem;
        padding-bottom: 50px; 

    }
}

.form {
    margin-left: $margin;
    margin-right: $margin;
    &__label {
        display: block;
        font-family: $secondary-font;
        color: $gunmental;
        font-size: 1.4rem;
    .label__asterisk {
        color: $brandsecundario_color;
        }
    }
    &__input {
        height: 45px;
        display: block;
        width: 100%;
        margin-bottom: 13px;
        margin-top: 7px;
        border-color: $cool-grey;
        border-radius: 5px;
    }

    &__input::placeholder {
        color: $cool-grey;
    }
}

.submit {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-family: $secondary-font;
    font-weight: 600;
    color: $blanco;
    background-color: $brand_color;
    border: none;
    border-radius: 5px;
}


