  <article class="about-us__article @@className"> 
    <img src="@@image" alt="@@alt" />
    <div class="about-us__info @@className">
      <p class="about-us__name @@className">@@name</p>
      <p class="about-us__description @@className">
        @@description
      </p>
      <div class="about-us__rrss @@className">
        <i class="fa-brands fa-twitter" style="color: #099d8d"></i>
        <span>·</span>
        <i class="fa-brands fa-linkedin-in" style="color: #099d8d"></i>
        <span>·</span>
        <i class="fa-brands fa-github-alt" style="color: #099d8d"></i>
        <span>·</span>
        <i class="fa-solid fa-envelope" style="color: #099d8d"></i>
      </div>
    </div>
  </article>
 