<section class="about-us">
  <h2 class="about-us--title">QUIÉNES SOMOS</h2>
  <article class="about-us--article">
    <img
      src="./imagenes/titanic.png"
      alt="imagen perfil 0"
    />
    <div class="about-us--info">
      <p class="about-us--name">Nombre 0</p>
      <p class="about-us--description">
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Pariatur quasi exercitationem commodi earum
        veniam veritatis repellendus ad vitae, cupiditate
        velit inventore voluptates expedita quibusdam vitae,
        cupiditate velit inventore voluptates expedita
        quibusdam iure.
      </p>
      <div class="about-us--rrss">
        <i
          class="fa-brands fa-twitter"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-linkedin-in"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-github-alt"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-solid fa-envelope"
          style="color: #099d8d"
        ></i>
      </div>
    </div>
  </article>
  <article class="about-us--article about-us__right">
    <img
      src="./imagenes/titanic.png"
      alt="imagen perfil 1"
    />
    <div class="about-us--info about-us__right--info">
      <p class="about-us--name about-us__right--name">
        Nombre 1
      </p>
      <p
        class="about-us--description about-us__right--description"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Pariatur quasi exercitationem commodi earum
        veniam veritatis repellendus ad vitae, cupiditate
        velit inventore voluptates expedita quibusdam vitae,
        cupiditate velit inventore voluptates expedita
        quibusdam iure.
      </p>
      <div class="about-us--rrss">
        <i
          class="fa-brands fa-twitter"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-linkedin-in"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-github-alt"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-solid fa-envelope"
          style="color: #099d8d"
        ></i>
      </div>
    </div>
  </article>
  <article class="about-us--article">
    <img
      src="./imagenes/titanic.png"
      alt="imagen perfil 2"
    />
    <div class="about-us--info">
      <p class="about-us--name">Nombre 2</p>
      <p class="about-us--description">
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Pariatur quasi exercitationem commodi earum
        veniam veritatis repellendus ad vitae, cupiditate
        velit inventore voluptates expedita quibusdam vitae,
        cupiditate velit inventore voluptates expedita
        quibusdam iure.
      </p>
      <div class="about-us--rrss">
        <i
          class="fa-brands fa-twitter"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-linkedin-in"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-github-alt"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-solid fa-envelope"
          style="color: #099d8d"
        ></i>
      </div>
    </div>
  </article>
  <article class="about-us--article about-us__right">
    <img
      src="./imagenes/titanic.png"
      alt="imagen perfil 3"
    />
    <div class="about-us--info about-us__right--info">
      <p class="about-us--name about-us__right--name">
        Nombre 3
      </p>
      <p
        class="about-us--description about-us__right--description"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Pariatur quasi exercitationem commodi earum
        veniam veritatis repellendus ad vitae, cupiditate
        velit inventore voluptates expedita quibusdam vitae,
        cupiditate velit inventore voluptates expedita
        quibusdam iure.
      </p>
      <div class="about-us--rrss">
        <i
          class="fa-brands fa-twitter"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-linkedin-in"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-github-alt"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-solid fa-envelope"
          style="color: #099d8d"
        ></i>
      </div>
    </div>
  </article>
  <article class="about-us--article">
    <img
      src="./imagenes/titanic.png"
      alt="imagen perfil 4"
    />
    <div class="about-us--info">
      <p class="about-us--name">Nombre 4</p>
      <p class="about-us--description">
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Pariatur quasi exercitationem commodi earum
        veniam veritatis repellendus ad vitae, cupiditate
        velit inventore voluptates expedita quibusdam vitae,
        cupiditate velit inventore voluptates expedita
        quibusdam iure.
      </p>
      <div class="about-us--rrss">
        <i
          class="fa-brands fa-twitter"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-linkedin-in"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-brands fa-github-alt"
          style="color: #099d8d"
        ></i>
        <span>·</span>
        <i
          class="fa-solid fa-envelope"
          style="color: #099d8d"
        ></i>
      </div>
    </div>
  </article>
</section>
