<section class="s-w" id="s-w">
        <div class="s-w__triangle"></div>
        <div class="s-w__content">
          <article class="strengths">
            <h3 class="strengths__title">Fortalezas</h3>
            <p class="strengths__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, pariatur a ea alias autem adipisci quaerat praesentium nemo. At tempora voluptatem tenetur repellendus nesciunt aut quidem laboriosam vel culpa quo.</p>
          </article>
          <article class="weaknesses">
            <h3 class="weaknesses__title">Debilidades</h3>
            <p class="weaknesses__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati beatae nam sapiente esse quibusdam unde earum quis voluptatum recusandae ab repudiandae pariatur ullam labore, inventore accusamus in eum ipsa. Sint.</p>
          </article>
        </div>
      </section>
