    $margin: 15px;
    $brand_color: #099d8d;
    $brandsecundario_color: #14d9c4;
    $negro: black;
    $light-grey-blue: rgba(184, 184, 185, 0.1);
    $blanco: #fff;
    $cool-grey: rgba(184, 184, 185, 0.2);
    $negro-8: rgba(0, 0, 0, 0.08);
    $gunmental: #54585a;
    $primary-font: 'Rubik', sans-serif;
    $secondary-font: 'Open Sans', sans-serif;

/*variables team*/
    $color-blue-green:#099d8d;
