.about-us {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: $margin;
  padding-right: $margin;

  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.4rem;
    line-height: 4.5rem;
    font-family: $primary-font;
    color: $brand_color;
  }
}

.about-us__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__article img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  border: 5px solid $negro-8;
}

.about-us {
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    margin-top: $margin;
    color: $negro;
    font-size: 2rem;
    line-height: 4.5rem;
    font-family: $secondary-font;
    text-align: center;
  }
  &__description {
    font-family: $secondary-font;
    color: $gunmental;
    line-height: 2.4rem;
    font-size: 1.6rem;
    text-align: center;
  }
}

.about-us__rrss {
  width: 124px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: $margin;
  margin-bottom: 45px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .about-us__article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 67px;
    margin-left: 45px;
    margin-right: 45px;
    &.right {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
  }

  .about-us {
    &__description {
      text-align: left;
      &.right {
        text-align: right;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 31px;
      &.right {
        align-items: flex-end;
        margin-right: 31px;
        margin-left: 0;
      }
    }
  }

  .about-us__article img {
    width: 205px;
    height: 205px;
    border-radius: 10px;
    border: 5px solid $negro-8;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1200px) {
  .about-us__article {
    margin-left: 138px;
    margin-right: 138px;
  }

  .about-us__article img {
    width: 278px;
    height: 278px;
  }
}
