/*FOOTER*/
/*.footer {
    width: 100%;
    background-color: $blanco;
    border: 1px solid;
    border-color: $cool-grey;
    position: absolute;
    bottom: -50px;
}*/

.group__name {
    color: #b8b8b9;
    font-size: 15px;
    margin: 30px 74px;
    font-weight: 500;
    font-family: $secondary-font;
}

.footer__nav {
    color: $gunmental;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-family: $primary-font;
}

li {
    margin-bottom: 4px;
}

.image_logo {
    height: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 45px;
}
/*FOOTER tablet*/
@media screen and (min-width : 768px) {
    footer {
        height: 170px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer__nav {
        margin-top: 0;
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .footer__nav--list {
        text-align: end;
        gap: 7px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 30px;
        /*grid-column: 2/3;*/
        /*margin-right: 70px;
        margin-left: 400px;*/
    }

    .image_logo {
        /*display: flex;
        align-self: flex-start;*/
        margin-top: 0;
        margin-left: 60px; 
    }
}

/*DESKTOP*/
@media screen and (min-width : 1200px) {
    .group__name {
            margin-left: 120px;
    
    }    
    .footer__nav--list {
        margin-right: 120px;
    }
}