/*FOOTER*/
.footer {
    width: 100%;
    background-color: $blanco;
    border: 1px solid;
    border-color: $cool-grey;
    position: absolute;
    bottom: -50px;
}

.group__name {
    color: #b8b8b9;
    font-size: 15px;
    margin: 30px 74px;
    font-weight: 500;
    font-family: $secondary-font;
}

.footer__nav {
    color: $gunmental;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-family: $primary-font;
}

li {
    margin-bottom: 4px;
}

.image_logo {
    height: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 45px;
}
/*FOOTER tablet*/
@media screen and (min-width : 768px) {
    footer {
        height: 170px;
    }

    .group__name {
        margin-bottom: 120px;

    }

    .footer__nav--list {
        text-align: end;
        margin-right: 70px;
        margin-left: 400px;
        padding: 0;
        list-style: none;
    }

    .image_logo {
        display: flex;
        align-self: flex-start;

    }
}

/*DESKTOP*/
@media screen and (min-width : 1200px) {
    .group__name {
            margin-left: 120px;
    
    }    
    .footer__nav--list {
        margin-right: 120px;
    }
}