/* HEADER*/
.header {
    background-color: $brand_color;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: .9;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__title {
            color: $blanco;
            font-size: 1.5rem;
            font-family: $secondary-font;
            font-weight: 600;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
}

.nav__list {
    background-color: $brandsecundario_color;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 7px;
    &--content {
        list-style: none;
        color: $blanco;
        display: flex;
        justify-content: space-around;
        font-family: $secondary-font;
        font-size: 1.5rem;    
 }
}
.nav__list--content a {
    text-decoration: none;
    color: $blanco;
}

/*HEADER TABLET*/
@media screen and (min-width : 768px) {
    .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
        margin-left: 45px;
    }
    }
    .nav__list {
        background: none;
        &--content {
            gap: 20px;
            margin-right: 45px;
            }
    }
}

/*DESKTOP*/
@media screen and (min-width : 1200px) {
    .header__title{
        margin-left: 145px;
    }
    .nav__list {
        margin-right: 120px;
    }
}
