
.hero {
    width: 100%;
    position: relative;
    display: inline;
    text-align: center;
   
}

.hero-content {
    width: 100%;
    height: 90vh;
    background-image: url(../images/hero-less-1.png);
    background-size: cover;
    background-position: center;
  
}

.Lorem-ipsum {
    width: 290px;
    height: 80px;
    font-family: $secondary-font;
    font-size: 2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.39;
    letter-spacing: normal;
    color: $lapis;
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
    z-index: 1;
    background-color: $blanco;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/*TABLET*/
@media screen and (min-width: 768px) {

.hero-content{
    height: 421px;
    width: 100%;
}
.Lorem-ipsum{
    width: 442px;
    height: 80px;
    opacity: 0.8;
    background-color: $blanco;
    font-size: 20px;
    transform: none;
    text-align: start;
    padding: 20px;
    display: flex;
    margin-left: 46px;
    margin-right: 281px;

}

}

@media all and (min-width:1200px) {
    .Lorem-ipsum {
        margin-left:168px;
        
    }
}