/* STRENGTHS and WEAKNESSES */

.s-w {
    background-color: #FDEEDC;
    text-align: center;

    &__triangle {
        width: 30px;
        height: 30px;
        background-color: $blanco;
        transform: translateY(-15px) rotate(45deg);
        margin: auto;
    }
    
    &__content {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        @media screen and (min-width:768px) {
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: flex-start;
            padding-left: 30px;
            padding-right: 30px;
        }
        @media screen and (min-width:1200px) {
            padding-left: 123px;
            padding-right: 123px;
        }
    }
}

.strengths {
    padding-top: 15px;
    padding-left: $margin;
    padding-right: $margin;
    padding-bottom: 45px;

    @media screen and (min-width:768px) {
        width: 50%;
        padding-top: 15px;
        }
    &__title {
        font-size: 2.2rem;
        font-family: $primary-font;
        color: $color-title;
        font-weight: 500;

        @media screen and (min-width:768px) {
            padding-bottom: 25px;
        }
    }

    &__content {
        font-size: 1.6rem;
        font-family: $secondary-font;
        color: $gunmental;
        line-height: 1.5;
    }
}

.weaknesses {
    padding-top: 15px;
    padding-left: $margin;
    padding-right: $margin;
    padding-bottom: 45px;

    @media screen and (min-width:768px) {
        width: 50%;
        padding-top: 15px;
        }

    &__title {
        font-size: 2.2rem;
        font-family: $primary-font;
        color: $color-title;
        font-weight: 500;

        @media screen and (min-width:768px) {
            padding-bottom: 25px;
        }
    }

    &__content {
        font-size: 1.6rem;
        font-family: $secondary-font;
        color: $gunmental;
        line-height: 1.5;
    }
}