.team {
    background-color: $blanco;
    font-family: $secondary-font;
    
    &__title {
        color: $color-blue-green;
        text-align: center;
        padding-top: 45px;
        font-size: 2.4rem;  
        line-height: 2.8rem;
        font-weight: medium;
          
    }
    &__container {
        color: $gunmental;
        text-align: center;
        margin: $margin;
        font-size: 1.6rem;
        font-style: normal;
        padding-bottom: 15px; 

        @media screen and (min-width: 768px) {
            margin-left: 45px;
            margin-right: 45px;
            margin-bottom: 45px;   
        }
        @media screen and (min-width : 1200px) {
            margin-left: 300px;
            margin-right: 300px;
            margin-bottom: 60px;
        }
        
        &--para {
            padding-bottom: 15px;
        }

    }

}
